[board_pins]
aliases:
    # Limit Switches
    X_MIN=PB14, X_MAX=PA1,
    Y_MIN=PB13, Y_MAX=PA2,
    Z_MIN=PA0, Z_MAX=PA3,

    # Steppers
    X_STEP=PE11, X_DIR=PE10, X_EN=PE9, X_UART=PE7,
    Y_STEP=PD8, Y_DIR=PB12, Y_EN=PD9, Y_UART=PE15,
    Z_STEP=PD14, Z_DIR=PD13, Z_EN=PD15, Z_UART=PD10,
    Z1_STEP=PE6, Z1_DIR=PC13, Z1_EN=PE5, Z1_UART=PC14,
    Z2_STEP=PE2, Z2_DIR=PE4, Z2_EN=PE3, Z2_UART=PC15,
    Z3_STEP=PD12, Z3_DIR=PC4, Z3_EN=PE8, Z3_UART=PA15,
    E0_STEP=PD5, E0_DIR=PD6, E0_EN=PD4, E0_UART=PD7,

    E0_TEMP=PC0,
    E1_TEMP=PC1,
    E2_TEMP=PC2,
    TEMP_BED=PC3,

    FAN0=PB0,
    FAN1=PB1,
    FAN2=PB2,
    E0_HEAT=PB15,
    E1_HEAT=PC8,
    E2_HEAT=PB3,
    HEAT_BED=PB4,

    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"
